.background-page h2 {
	color: var(--color-text-in-primary);
	font-size: 1.8rem;
}

.login-form {
	height: 50rem;
	width: 100%;
}

.login-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

.labels {
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.labels label {
	padding-right: 8rem;
}

.input-block {
	margin-top: 0;
}

.input-checkbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-right: 30rem;
}

.input-checkbox input {
	width: 4rem;
	height: 2rem;
	margin-left: 2rem;
}

.input-checkbox label {
	padding-left: 30rem;
}

.input-checkbox a {
	text-decoration: none;
	padding-left: 12rem;
}

.login-form form button {
	width: 30rem;
	height: 5rem;
	border-radius: 0.8rem;
	margin-top: 1.6rem;
	margin-right: 1.6rem;
	font: 700 2rem Archivo;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-secundary);
	border: none;
	transition: background-color 0.2s;
	color: var(--color-button-text);
}

.login-form form button:hover {
	background: var(--color-secundary-dark);
	cursor: pointer;
}

@media (min-width: 700px) {
	.labels label {
		padding-right: 40rem;
	}

	.login-form {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.input-checkbox input {
		width: 2rem;
	}

	.labels label {
		font-weight: bolder;
		padding-right: 23rem;
	}
	.input-checkbox label {
		padding-left: 28rem;
	}

	.input-checkbox a {
		text-decoration: none;
		padding-left: 22rem;
	}
}
